html
    line-height: 1.5
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif
    font-size: 11pt
    color: black
    background-color: white

header
    border-bottom: solid 1px black
    text-align: center
    text-align-last: auto
    padding-bottom: 1em

p.subtitle
    margin-top: -1em
    font-size: x-large
    font-family: 'Merriweather', Cambria, Cochin, Georgia, Times, Times New Roman, serif
    font-style: italic

p.author
    font-size: large
    margin: 0

p.date
    margin: 0.2em 0 0 0

h1.title
    // Displayed in the title block.
    font-size: 40px

h1, h2, h3, h4, h5, h6
    font-family: 'Merriweather', Cambria, Cochin, Georgia, Times, Times New Roman, serif
    line-height: 1.2
    margin-top: 1em
    margin-bottom: 0.5em

h1
    margin-top: 1em

nav
    border-bottom: solid 1px black
    margin-bottom: 1em

body
    max-width: 80ch
    margin: 15px auto 15px auto
    text-align: justify
    text-justify: inter-word
    text-align-last: left
    margin-bottom: 50px

p
    margin-top: 0.5em

a
    text-decoration: none
    word-break: break-all

a:hover
    text-decoration: underline

pre, code
    font-family: JetBrains Mono, monospace

div.sourceCode
    border: 1px dashed grey
    border-radius: 5px
    padding: 5px
    font-size: 10pt

span.math.display, mjx-container
    display: block !important
    width: fit-content !important
    margin: 0 auto 0 auto !important

figure
    display: block
    text-align: center
    text-align-last: auto
    margin: 1em auto 1em auto
    font-style: italic

img
    max-width: 100%
    display: block
    margin: 1em auto 1em auto

section.footnotes
    line-height: 1.25

hr
    height: 0.5px
    border-width: 0px
    color: black
    background-color: black
    width: 90%

table
    border-collapse: collapse
    display: block
    margin: 0 auto 0 auto
    overflow: auto
    width: fit-content

thead
    background-color: #f1f1f1

tr:nth-child(even)
    background-color: #f1f1f1

th:first-child
    border-left: 0
    border-bottom: 2px solid black

th
    border-left: 1px solid black
    border-bottom: 2px solid black

td:first-child
    border-left: 0

td
    border-left: 1px solid black
